.gallery {
    columns: 1;
    column-gap: 2px;
}

.gallery > * {
    break-inside: avoid;
    margin-bottom: 2px;
    display: block;
}

@media (min-width: 640px) {
    .gallery {
        columns: 2;
    }
}

@media (min-width: 1024px) {
    .gallery {
        columns: 3;
    }
}
