@import "./reset.css";
@import "variables.css";

body{
    background: linear-gradient(0deg, var(--color-grey-9) 0%, var(--color-grey-9) 100%), linear-gradient(0deg, var(--color-grey-9) 0%, var(--color-grey-9) 100%), var(--color-white-solid);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    padding-top: 4.25rem;
}
