.header{
    display: flex;
    padding-block: 2rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

@media (min-width: 768px) {
    .header{
        padding-block: var(--space-layout-y);
    }
}
.subtitle{
    color: var(--color-grey-56);
    font-family: var(--font-family-font-3);
    font-size: clamp(var(--text-xs), 2vw, var(--text-sm));
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-19-2);
    letter-spacing: var(--letter-spacing-1-68);
    text-transform: uppercase;
}
.title{
    color: var(--color-white-solid);
    font-family: var(--font-family-font-1);
    font-size: clamp(var(--text-3xl), 9vw, var(--text-hero));
    font-style: normal;
    font-weight: 900;
    line-height: clamp(var(--line-height-41-47), 9vw, var(--line-height-92-69));
    letter-spacing: -1.843px;
    text-transform: uppercase;
}
.yellow{
    color: var(--color-yellow-62);
}
.paragraph{
    color: var(--color-grey-84);
    font-family: var(--font-family-font-4);
    font-size: clamp(var(--text-md), 2.5vw, var(--text-xl));
    font-style: normal;
    font-weight: 400;
    line-height: var(--line-height-32);
}