.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-4);
    padding: var(--space-8) 0;
}

.title {
    color: var(--color-white-solid);
    font-family: var(--font-family-font-1);
    font-size: var(--text-xl);
    font-weight: var(--font-weight-900);
    line-height: 1;
    letter-spacing: var(--letter-spacing--0-2);
    text-transform: uppercase;
}

.description {
    color: var(--color-grey-56);
    font-family: var(--font-family-font-4);
    font-size: var(--text-md);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-24);
}
